{% extends '../base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'glycemic_index_app/css/detail.css' %}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block main %}
    <div class="main-inner">
        <span class="main-title">Общий список > {{ notes.title }}</span>
        <div class="main-note">
        <input class="detail-input title-input" type="text" name="title" value="{{ notes.title }}">
        <div class="note-date">{{ notes.created_at }}</div>
        <textarea class="detail-input main-desc" name="desc" id="">{{ notes.content }}</textarea>
        <div class="note-flex">
            <span class="note-glycemia"><b>Гликемия:</b> <input class="detail-glycemia detail-input" type="text" name="glycemia" value="{{ notes.glycemia }}"></span>
            <span class="note-xe"><b>ХЕ:</b> <input class="detail-glycemia detail-input" type="text" name="bread_units" value="{{ notes.bread_units }}"></span>
        </div>
        <div class="note-GI">
            <div class="note-GI-title">
                <h3>ГИ продуктов</h3>
                <button class="note-add-button" onclick="addFn()">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10.5" cy="10.5" r="10" stroke="var(--color-text)"/>
                        <path d="M11.1923 6.69231C11.1923 6.30937 10.8829 6 10.5 6C10.1171 6 9.80769 6.30937 9.80769 6.69231V9.80769H6.69231C6.30937 9.80769 6 10.1171 6 10.5C6 10.8829 6.30937 11.1923 6.69231 11.1923H9.80769V14.3077C9.80769 14.6906 10.1171 15 10.5 15C10.8829 15 11.1923 14.6906 11.1923 14.3077V11.1923H14.3077C14.6906 11.1923 15 10.8829 15 10.5C15 10.1171 14.6906 9.80769 14.3077 9.80769H11.1923V6.69231Z" fill="var(--color-text)"/>
                        </svg>
                </button>
            </div>
            <div class="note-GI-list" id="note-GI-list">
                {% for item in list %}
                    <div class="note-GI-item">
                        <input type="text" name="glycemic-index" class="note-GI-item-el" value="{{ item }}">
                        <button class="minus-button" onclick="delNode(this)"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="conclusion-info">
            <div class="conclusion-line">
                <span class="conclusion-title">Общий ГИ:</span>
                <span>{{ notes.general_gi }}</span>
            </div>
            <div class="conclusion-line">
                <span class="conclusion-title">Общий СИГ:</span>
                <span>{{ notes.general_rcg }}</span>
            </div>
        </div>
        <div id="curve_chart" style="max-width: 100%;"></div>
        </div>
        <button class="note-button" type="submit">Сохранить</button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'glycemic_index_app/javaScript/addButtonNotePage.js' %}"></script>
    <script src="{% static 'glycemic_index_app/javaScript/app.js' %}"></script>
{% endblock %}