{% extends '../base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'glycemic_index_app/css/main.css' %}">
{% endblock %}

{% block main %}
    <div class="main-list">
        {% for item in notes %}
            <div class="card">
                <h1>{{ item.title }}</h1>
                <div class="card-date-list">
                    <span class="card-date">{{ item.created_at }}</span>
                </div>
                <p>{{ item.content }}</p>
                <div class="card-info-list">
                    <div class="card-info-list__item">Гликемия: {{ item.glycemia }}</div>
                    <div class="card-info-list__item">Общий ГИ: {{ item.general_gi }}</div>
                    <div class="card-info-list__item">Общий СИГ: {{ item.general_rcg }}</div>
                </div>
                <a href="">Подробнее</a>
            </div>           
        {% endfor %}
    </div>
{% endblock %}